{% extends 'threads/base.html' %}

{% block content %}

<div class='submitThread'>
	<h4> <a href="{% url 'submitThread' %}">Submit thread...</a></h4>

</div>

{% for thread in threadList %}

<div class="thread">
	<div class="arrows">
		<a href="{% url 'voteThread' thread.id 1 'index' %}"><div class="upArrow"></div></a>
		<a href="{% url 'voteThread' thread.id -1 'index' %}"><div class="downArrow"></div></a>
	</div>
	<h2>{{thread.votes}} <a href="{% url 'detailThread' thread.id %}">{{thread.title}}</a></h2>
</div>

{% endfor %}



{% endblock %}